.wrapper {
    padding: 50px 0;
    background-color: #eae7de;
}

.quotes {
    text-align: center;
    padding-bottom: 50px;
}

.quotes p {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #c7a17a;
    font-style: italic;
}

.quotes h3 {
    font-size: 3.6rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.separate {
    padding: 16px 0;
}

.separate span {
    display: block;
    width: 120px;
    height: 3px;
    margin: 0 auto;
    background-color: #c7a17a;
}

.select-wrapper {
    position: relative;
    flex: 1;
}

.select-wrapper::after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 56px;
    bottom: 0;
    width: 2px;
    background-color: #eae7de;
}

.select-wrapper select {
    padding: 16px 8px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 100%;
}

.text {
    margin: 0 24px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn {
    margin-left: 24px;
    display: inline-block;
    min-width: 60px;
    font-size: 1.8rem;
    padding: 12px 48px;
    border: none;
    border-radius: 4px;
    text-decoration: none;

    background-color: #c7a17a;
    color: #fff;

    cursor: pointer;
    outline: none;
    transition: all ease 0.2s;
}

.btn:hover {
    background-color: #30271c;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-in-select {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    fill: #c7a17a;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .text {
        display: none;
    }
    .flex-wrapper {
        flex-direction: column;
    }
    .select-wrapper {
        width: 50%;
        padding-bottom: 16px;
    }
}

@media (max-width: 739px) {
    .text {
        display: none;
    }
    .flex-wrapper {
        flex-direction: column;
    }
    .select-wrapper {
        width: 50%;
        padding-bottom: 16px;
    }
}
