.wrapper {
    margin-top: -60px;
}

.slider-image {
    height: 100vh;
    background-position: 50% 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.video {
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
